*.log
.DS_Store
laravel-backend/app/.env
laravel-backend/app/.env.example
laravel-backend/app/.env.backup
laravel-backend/.env.docker
laravel-backend/.env.laravel
laravel-backend/app/.env.production
laravel-backend/app/.phpactor.json
laravel-backend/app/.phpunit.result.cache
laravel-backend/app/.codex
laravel-backend/app/.cursor/
laravel-backend/app/.idea
laravel-backend/app/.nova
laravel-backend/app/.phpunit.cache
laravel-backend/app/.vscode
laravel-backend/app/.zed
laravel-backend/app/auth.json
laravel-backend/app/node_modules
laravel-backend/app/public/build
laravel-backend/app/public/hot
laravel-backend/app/public/storage
laravel-backend/app/storage/*.key
laravel-backend/app/storage/pail
laravel-backend/app/vendor
laravel-backend/app/_ide_helper.php
laravel-backend/app/Homestead.json
laravel-backend/app/Homestead.yaml
laravel-backend/app/Thumbs.db
